<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="firstproject.probe.mapper.UserMapper">
    
    <insert id="insert" parameterType="firstproject.probe.model.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, email, password, is_first_login, is_onboarding_completed)
        VALUES (#{username}, #{email}, #{password}, #{isFirstLogin}, #{isOnboardingCompleted})
    </insert>
    
    <select id="findByUsername" resultType="firstproject.probe.model.User">
        SELECT 
            id, username, email, password, 
            is_first_login AS isFirstLogin, 
            is_onboarding_completed AS isOnboardingCompleted, 
            created_at AS createdAt, 
            updated_at AS updatedAt
        FROM 
            users 
        WHERE 
            username = #{username}
    </select>
    
    <select id="findByEmail" resultType="firstproject.probe.model.User">
        SELECT 
            id, username, email, password, 
            is_first_login AS isFirstLogin, 
            is_onboarding_completed AS isOnboardingCompleted, 
            created_at AS createdAt, 
            updated_at AS updatedAt
        FROM 
            users 
        WHERE 
            email = #{email}
    </select>
    
    <select id="existsByUsername" resultType="boolean">
        SELECT 
            COUNT(*) > 0
        FROM 
            users
        WHERE 
            username = #{username}
    </select>
    
    <select id="existsByEmail" resultType="boolean">
        SELECT 
            COUNT(*) > 0
        FROM 
            users
        WHERE 
            email = #{email}
    </select>
</mapper>
